/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-image: url("https://static.pexels.com/photos/57858/pexels-photo-57858.jpeg");
  margin: 0;
}

.nav-container {
  background-color: rgba(36, 21, 8, 0.9);;
  padding-bottom: 28px;
  padding-top: 28px;
}

.button5 {
  border-radius: 12px;
  background-color: white;
  border-color: black;
  font-size: 30px;
  font-family: fantasy;
}

.button5:hover {
  background-color: gray;

}

h2 {
  margin-right: 50px;
  color: black;
  float: right;
  font-family: fantasy;
  font-size: medium;
}
