/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  margin: 0;
  padding-top: 35px;
  font-family: fantasy;
  color: black;
  text-align: center;
  font-size: 60px;
}


.img_resize{
  max-width: 200px;
  max-height: 100px;
}

.upload-form{
  text-align: center;
  margin-top: 5%;
}

.upload-title{
  font-family: fantasy;
  font-size: 24pt;
}


.upload-box{
  width: 40%;
  font-size: 24pt;
  border-color: black;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.field {
  margin-bottom: 25px;
}
